<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <h1>Bem vindo!</h1>
</head>

<body>
    <h2>O que deseja?</h2>
    <div style="display: inline-block;"></div>
    <form action="http://127.0.0.1:5000/alunos/add">
        <button type="submit">Administrar Alunos</button>
    </form>
    <form action="http://127.0.0.1:5000/turmas">
        <button type="submit">Administrar Turmas</button>
    </form>
    </div>

</body>

</html>